.flex-container {
    display: flex;
    background-color: DodgerBlue;
    border: antiquewhite;
    size: 60px;
  }

h1{
    display: flex;
    background-color: antiquewhite;
    color:red;
    text-align: center;
}
[class="header"] {
  display: flex;
  color: blue;
}