@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Lobster&display=swap');




.flex-container {
    display: flex;
    border: antiquewhite;
    size: 60px;
  }

[class="banner"] {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: center;
  align-items: center;
  color: #65c3ba;
  background-image: url(../Soteria/starCreated.png);
}
h1{
  text-align: center;
  padding-left: 0px;
  font-family:'Fira Code', monospace;
  font-weight: bold;
  margin-bottom: 0px;
}
h2 {
  margin-top: 0px;
  font-weight: lighter;
  font-style: italic;
}
body{ background: rgb(5,30,62);
  background: radial-gradient(circle, rgba(5,30,62,1) 0%, rgba(69,30,62,1) 40%, rgba(133,30,62,1) 100%); 

}

[class="intro"] {
display: flex;
align-items: left;
flex-direction: column;
justify-content: space-evenly;
margin: 0mm;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
[class="intro"] h2, h3 {
  margin: 0mm;
}