@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Lobster&display=swap');




.flex-container {
    display: flex;
    border: antiquewhite;
    size: 60px;
  }

[class="header"] {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: center;
  align-items: center;
  color: #65c3ba;
  background-color: #009688;
background-image: url(https://github.com/ap42m/Soteria/blob/main/starynight.png);
  background-size: cover;
}
h1{
  text-align: center;
  padding-left: 0px;
  font-family:'Fira Code', monospace;
  font-weight: bold;
}
h2 {
  font-weight: lighter;
  font-style: italic;
}